<html>

<body>
    <h1>Cadastro de Livros</h1>
    <div class="erros">
        <% if(errosValidacao){ %>
            <ul>
                <%for (var i = 0 ; i < errosValidacao.length ; i++) {%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
        <%}%>
    </div>
    <form action="/produtos" method="POST">
        <div>
            <label for="titulo">Título</label>
            <input type="text" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" name="preco" value="<%=produto.preco%>" placeholder="coloque o preço">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea type="text" name="descricao" value="<%=produto.descricao%>" placeholder="coloque a descrição"></textarea>
        </div>
        <input type="submit" value="gravar" />
    </form>
</body>

</html>